.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(right, red , blue);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 7%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
    align-items: center;
    
}
.form-control{
    border-radius:30 px;
    align-items: center;
    outline: none;
    
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    
    width: 20%;
    
    background: #0062cc;
    color: #fff;
    align-items: center;
    
}
.btnSubmit1
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;

    
    
    width: 20%;
    cursor: pointer;
    background: #070808;
    color: #fff;
    align-items: center;
    
}