{% extends "layout1.html" %}

{% block heading %}
    Home page
{% endblock %}

{% block body %}

    <!-- <h1>Welcome,{{name}}<br>
    Your password is {{password}}<br>
    your Email ID is {{mailid}}<br>
    your Phone number is {{phone}}<br>
    your Date of birth is {{DOB}}<br>


    </h1> -->
    <!-- {% for user in users %}
        {% if user.username == names and user.password == passwords%}
            <h1>Welcome to Home page,{{names}}</h1>
        {% else %}
            <h1>Invalid user</h1>
            <h1><a href="{{url_for('form1')}}"> Register</a></h1>

        {% endif %}
        
    {% endfor %} -->
    <!-- <div style="width:50%">
        
        
    </div> -->
    <!-- <h1>Welcome {{names}}</h1>&nbsp;&nbsp;&nbsp;&nbsp;<button class="button" style="text-decoration: none; color: rgb(255, 255, 255);"> <a href="{{url_for('first')}}"> Logout </a></button> -->
    
    

        <div class="note">
            <h1>Home page</h1>
        </div>
    <!-- <form action="/search" method="post">
        
        <div class="form-content">
            <div class="row" style="padding-left: 40%;">
                
                <div class="form-group">
                    <input type="text" name="search" placeholder="Search" class="form-control"required ><br>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <button class="button" >Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <button class="btnSubmit" >Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btnSubmit1" style="text-decoration: none;"><a href="{{ url_for('first')}}" > Go back </button> -->
                <br>
                <br>
                {% if flag==1 %}
                <h1 style="padding-left: 17%;"> User's review already exists,enter new user's review </h1>
                <form class="example" action="/search" style="margin:auto;max-width:300px" method="post">
                    <input type="text" placeholder="Search.." name="search" class="form-control"required>
                    <button type="submit" style="width: 240px;">Search</button>
                  <br>
                  <br>
                  <br>
                </form>
                <table class="table" style="width: 50%;">
                    <thead class="thead-dark" >
                        <th><h3 >Title of the book</h3></th>
                    
                        
                      <tr>

                        
                        <br>
                        <br>
                        <br>
                        
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr>
                        {% if user.isbn==name or user.title==name or user.author==name or user.year==name %}
                        
                            <td><h4><a href="{{ url_for('details',id=user.isbn)}}" style="text-decoration: none; color: rgb(0, 0, 0);" id="{{user.isbn}}" >{{user.isbn}}</a></h4></td>
                            <!-- <td><button>Add to shelf</button></td> -->
                            <td><button>Add to shelf</button></td>

                        {% endif %}
                        
                        
                        
                      
                      {% endfor %}
                        


                    </tr>
                      
                    </tbody>
                  </table>

                  {% else %}
                    
                  <form  action="/bookshelf/{{session['name']}}" method="POST">

                    <h1>Welcome {{session['name']}}</h1>&nbsp;&nbsp;&nbsp;&nbsp;<button class="button" style="text-decoration: none; color: rgb(255, 255, 255);"> <a href="{{url_for('first')}}"> Logout </a></button>
                    <button type="submit" style="width: 240px;">My BookShelf</button>
                    
                  </form>
                  <ol>
                    {% for i in u %}
                      {% if i.user==n %}
                        <li>{{i.title}}<button><a href="/delete/{{i.title}}">Delete</a></button></li>
                        
                        
                      {% endif %}
                    {% endfor %}
                  </ol>
                  
                  <form class="example" action="/search" style="margin:auto;max-width:300px" method="post">
                    
                    
                    
                    <input type="text" placeholder="Search.." name="search" class="form-control"required>
                    <button type="submit" style="width: 240px;">Search</button>
                  <br>
                  <br>
                  <br>
                </form>
                <table class="table">
                    <thead class="thead-dark" style="margin: auto;">
                        <th style="margin: auto;"><h3 >Title of the book</h3></th>
                        
                      <tr>

                        
                        <br>
                        <br>
                        <br>
                        
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr>
                        {% if user.isbn==name or user.title==name or user.author==name or user.year==name %}
                        
                        <td><h4><a href="{{ url_for('details',id=user.isbn)}}" style="text-decoration: none; color: rgb(0, 0, 0);" id="{{user.isbn}}" >{{user.title}}</a></h4></td>
                        <!-- <td><button>Add to shelf</button></td> -->
                        <td><button><a href="{{url_for('last',title=user.title)}}">Add to Shelf</a></button></td>

                        

                        {% endif %}
                        
                        
                      
                      {% endfor %}
                        


                    </tr>
                      
                    </tbody>
                  </table>

                  {% endif %}

                <br>
                <br>
                <br>
                <br>
        <!-- </div> -->

        
        
    
    
    
    
    

{% endblock %}






